body{
    background-color:#FFEDD5;
}

header{
    
     padding: 49px 0;
    max-width:  310px;
    margin: 0 auto;
    text-align: center;
    
}

header h1 {
    color: rgb(202, 64, 91);
}

section{
    margin-bottom: 50px;
}


section{
    max-width: 400px;

    margin: 0 auto;
}
section h2{
 background-color:#FED7AA;
 padding: 20px 15px;
 text-align: center;
 margin-bottom: 35PX;
}

ul li{
  margin-bottom: 10px;
  
}
li .details{
  max-width: 200px;
}